.colm1{
    background-color: #ADD8E6;
    padding: 15px;
}
.colm2{
    background-color: #87CEEB;
    padding: 15px;
}
.colm3{
    background-color: #6495ED;
    padding: 15px;
}
.colm4{
    background-color: #4169E1;
    padding: 15px;
}